.page-user-content {
  background: linear-gradient(#fee5e3, #fff);
  font-size: 1.2rem;
}

.page-walk-content {
  background: linear-gradient(#e5ece3, #fff);
  font-size: 1.2rem;
}

.page-contact-content {
  background: linear-gradient(#fff0da, #fff);
  font-size: 1.2rem;
}

.title_margin {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem 1rem;
  margin: 2rem 0;
  text-align: left;
}

.title_image {
  width: 60px;
  margin: 0 1rem;
}

.title_margin--user {
  background: linear-gradient(to bottom right, #E1645F, #f29991);
}

.title_margin--walk {
  background: linear-gradient(to bottom right, #678e62, #b1c5ae);
}

.title_margin--contact {
  background: linear-gradient(to bottom right, #EDA80A, #ffe1b6);
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: -1rem;
}

.form {
  padding: 0 1rem;
}

.form label {
  margin: 1rem;
}

.form .field {
  padding-bottom: 2rem;
}

.field .input--no-border {
  border: none;
}

.field-label {
  display: flex;
  align-items: center;
}

.field-icones {
  width: 40px;
  height: 40px;
}

.field select {
  padding: 0.5rem;
  border: 2px solid #678e62;
  border-radius: 10px;
  text-align: left
}

.field-submit {
  color: white;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 1rem;
  background-color: #EDA80A;
  border: none;
  border-radius: 10px;
  width: 100%;
}

.field-submit:hover {
  box-shadow: 5px 5px 5px #fbc46d;
  transform: scale(1.1);
}

.field select:focus {
  border-color: #e1645f
}

.field ul {
  color: #e1645f;
  margin-top: 1rem;
}

.form-legend {
  margin-bottom: 1rem;
  font-style: italic;
  width: 100%;
}

.authentication_submit {
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background-color: #8c9f75;
  border: none;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  width: 60%;
}

.authentication_submit:hover {
  box-shadow: 5px 5px 5px #8C9F75;
  transform: scale(1.1);
}

.authentication_inscription_button {
  padding: 0.5rem;
  background-color: #ffcf34;
  border: none;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  width: 60%;
}

.authentication_inscription_button:hover {
  box-shadow: 5px 5px 5px #EDA80A;
  transform: scale(1.1);
}

.authentication_submit_picture,
.authentication_inscription_picture {
  width: 40px
}

.authentication_text {
  color: #eda80a;
  margin-bottom: 0.5rem;
  text-align: center;
}

.label-login {
  padding: 1rem 0;
  color: #8c9f75;
  width: 100%;
  text-align: left;
}

.alert {
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1rem;
}

.alert-success {
  border: 1px solid #678E62;
  background-color: #8C9F75;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom:1rem;
}

.alert-link {
  cursor:pointer;
  color: #eda80a;
  font-weight: bold;
  text-decoration: underline;
}

.img_return {
  width: 90px;
  padding: 15px;
  transform: rotateY(180deg);
}


/*************************************RESPONSIVE*********************************************/

@media(min-width: 768px) {
  .title_margin {
    margin: 2rem auto;
    min-width: 80%;
  }

  .form--one-column {
    display: flex;
    flex-direction: column;
  }

  .form--walk {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }

  .form-col {
    width: 50%;
  }

  .page-walk-content .field {
    width: 80%;
  }

  .field-submit { 
    max-width: 300px;
    margin: auto;
  }

  .page-walk-content,
  .page-user-content,
  .page-contact-content  {
    font-size: 1.5rem;
  }
 
}



.image_error{
  text-align:center;
  margin:auto;
  display:flex;
  width: 80%;
  margin-top: 35px;
  
}



.title_error{
  font-size: 2em;
  margin-top: 20px;
  text-align: center;
}

.text_error{
  font-size: 1em;
  margin-top: 10px;
  text-align:center;
}

@media (max-width: 768px){
  .image_error{
    margin-bottom: 50px;
  }

  .title_error{
    font-size:3.5em;
  }

  .text_error{
    font-size:2em;
    padding:10px;
  }

}

@media (min-width:768px){
  .image_error{
    width: 60%;
    padding:35px;
    margin-bottom:15px;
  }

  .title_error{
    font-size:3.5em;
  }

  .text_error{
    font-size:2em;
    padding:20px;
  }

}