.navbar {
    background-color: #678e62;
}

.image_mountain {
    background-size: cover center;
    width: 100vw;
}

h3 {
    text-align: center;
    padding: 20px;
}

/* .btn-success {
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: #BD7A4A;
    border-color: #BD7A4A;
}

.btn-success:hover {
    background-color: #743001;
    border-color: #743001;
}

.table {
    margin-left: 15px;
}

.btn-warning {
    background-color: #F2E175;
    border-color: #F2E175;
}

.btn-warning:hover {
    background-color: #F0DE91;
    border-color: #F0DE91;
}

.btn-danger {
    background-color: #B61F23;
    border-color: #B61F23;
}

.btn-danger {
    background-color: #E24452;
    border-color: #E24452;
}

.btn-primary {
    margin-top: 15px;
    margin-left: 10px;
} */

/***********************************************/
html {
    overflow-y: scroll;
}

body {
    font-family: Raleway;
}

h1 {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}


.navbar-brand em {
    font-size: 0.8rem;
}

.navbar-brand-title {
    font-family: Stick, sans-serif;
    color: #EDA80A;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1rem 0;
    text-shadow: 0.1em 0.1em 0.2em #000;
}

.navbar .nav-item a.nav-link--custom:hover,
.navbar .navbar-nav .nav-link.active{
    color: #EDA80A;
}

.navbar .nav-item a.nav-link--logout {
    border-color: #E1645F;
    color: #E1645F;
    font-weight: bold;
}

.navbar .nav-item a.nav-link--logout:hover {
    border-color: #E1645F;
    color: #FFFF;
    background-color: #E1645F;
    font-weight: bold;
}

.admin-content { 
    background: linear-gradient(#e5ece3, #fff);
}

/***HOME***/

.card-walks,
.walks-list-table thead { 
    background-color: #E1645F;
}

.card-users,
.users-list-table thead  { 
    background-color: #678e62;
}

.card-tags,
.tags-list-table thead { 
    background-color: #eda80a;
}

.table thead th {
    border-bottom: none;
}

.delete-btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #FFFF;
}

/***LISTS****/
.display-medium {
    display: none;
}

.form-admin {
    display: inline-block;
}

/****EDIT****/
.form-edit {
    max-width: 600px;
    margin: auto;
}

@media(min-width: 768px) {
    .display-medium {
        display: inline-block;
        margin-left: 0.5rem;
    }
    
}