html {
    overflow-y: scroll;
}

body {
    font-family: Raleway;
}

h1 {
    text-align: center;
    padding-top: 1rem;
    margin-bottom: 2rem;
}

h3 {
    text-align: center;
    padding: 20px;
}

.navbar {
    background-color: #678e62;
}

.navbar-brand em {
    font-size: 0.8rem;
}

.navbar-brand-title {
    font-family: Stick, sans-serif;
    color: #EDA80A;
    font-weight: 700;
    font-size: 1.6rem;
    padding: 1rem 0;
    text-shadow: 0.1em 0.1em 0.2em #000;
}

.navbar .nav-item a.nav-link--custom:hover,
.navbar .navbar-nav .nav-link.active {
    color: #EDA80A;
}

.navbar .nav-item a.nav-link--logout {
    border-color: #E1645F;
    color: #E1645F;
    font-weight: bold;
}

.navbar .nav-item a.nav-link--logout:hover {
    border-color: #E1645F;
    color: #FFFF;
    background-color: #E1645F;
    font-weight: bold;
}

.admin-content {
    background: linear-gradient(#e5ece3, #fff);
}

/*===============================HOME=======================================*/

.card-walks,
.walks-list-table thead {
    background-color: #E1645F;
}

.card-users,
.users-list-table thead {
    background-color: #678e62;
}

.card-tags,
.tags-list-table thead {
    background-color: #eda80a;
}

.table thead th {
    border-bottom: none;
}

.delete-btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.home-list {
    width: 100%;
}

.home-list-id-col {
    width: 10%;
}

.home-list-title-col {
    width: 40%;
}

.home-list-actions-col {
    width: 50%;
}

/*===============================LISTS=======================================*/
.table th { 
    border: none;
}

.display-medium {
    display: none;
}

.form-admin {
    display: inline-block;
}

.add-btn {
    max-width: 300px;
    margin: auto;
    display: block;
}

/***********WALKS**********/
.walks-list-table {
    width: 100%;
}

.walks-list-table thead th {
    vertical-align: top;
}

.walks-list-table .id-col {
    width: 2%;
}

.walks-list-table .date-col {
    width: 13%;
}

.walks-list-table .title-col {
    width: 20%;
}

.walks-list-table .desc-col {
    width: 20%;
}

.walks-list-table .status-col {
    width: 5%;
}

.walks-list-table .creator-col {
    width: 10%;
}

.walks-list-table .actions-col {
    width: 25%;
}

/***********USERS**********/
.users-table {
    width: 100%;
}

.users-table thead th {
    vertical-align: top;
}

.users-table .lastname-col {
    width: 20%;
}

.users-table .firstname-col {
    width: 20%;
}

.users-table .nickname-col {
    width: 20%;
}

.users-table .email-col {
    width: 30%;
}

.users-table .role-col {
    width: 10%;
}

.users-table .actions-col {
    width: 10%;
}

/***********TAGS**********/
.tags-table {
    width: 100%;
}

.tags-table thead th {
    vertical-align: top;
}

.tags-table .id-col {
    width: 5%;
}

.tags-table .name-col {
    width: 30%;
}

.tags-table .color-col {
    width: 30%;
}

.tags-table .actions-col {
    width: 25%;
}

/*===============================EDIT=======================================*/
.form-edit {
    max-width: 600px;
    margin: auto;
}

.form-edit label {
    color: #E1645F;
    font-weight: bold;
}

.walk-datas {
    max-width: 1200px;
    margin: auto;
}

.walk-datas-label {
    color: #678e62;
    font-weight: bold;
}

@media(min-width: 768px) {
    .display-medium {
        display: inline-block;
        margin-left: 0.5rem;
    }

}