{% extends 'back/base_back.html.twig' %}

{% block title %}Modifier une randonnée{% endblock %}

{% block body %}

{{ include('back/_nav_back.html.twig') }}


<h3>Modifier une randonnée</h3>


{{ include('back/_form.html.twig') }}


{% endblock %}