{% extends 'base.html.twig' %}

{% block title %}Je crée ma randonnée{% endblock %}

{% block body %}
<h1> Modification de la randonnée </h1>

{# Inclusion of the "partial" form #}
{{ include('back/walk/_form.html.twig') }}
{% endblock %}