<footer class="footer">
    <div class="footer_link">
      <a href="" class="footer_instructions_link">Fonctionnement du site</a>
      <a href="http://localhost:8000/about_us" class="footer_informations_link">
        Qui sommes-nous
      </a>
      <a href="" class="footer_contact_link">Contact</a>
    </div>
  </footer>