<nav class="mobilenav">
	<a href="http://localhost:8080">
		<img src={{ asset('icones/home.svg') }} alt="home logo" class="mobilenav_home"/>
	</a>
	<a href="{{ path('walk_create') }}">
		<img src={{ asset('icones/create-hike.svg') }} alt="create hike" class="mobilenav_create"/>
	</a>

	<a href="http://localhost:8080/authentication">
		<img src={{ asset('icones/server.svg') }} alt="login" class="mobilenav_login"/>
	</a>


	{# <a to="/account">
	          <img class="mobilenav_connected" src={bear} alt="logged" />
	        </a>
	        <a href="https://orando.me/o/logout" class="mobilenav_logout" type="submit" onClick={handleLogout}>
	          <RiLogoutCircleRLine size={46} />
	        </a> #}

</nav>
