{% extends 'back/base_back.html.twig' %}

{% block title %}Ajouter un Tag{% endblock %}

{% block body %}

{{ include('back/_nav_back.html.twig') }}

<h3>Ajouter un Tag</h3>


{{ include('back/_form.html.twig') }}


{% endblock %}