{% extends 'back/base_back.html.twig' %}

{% block title %}Ajouter un Tag{% endblock %}

{% block body %}

<h1>Ajouter un Tag</h1>

{# On inclut le fragment de template qui correspond au formulaire #}
{{ include('back/_form.html.twig') }}


{% endblock %}