{% extends 'base.html.twig' %}

{% block title %}Je crée ma randonnée{% endblock %}

{% block body %}
<h2> C'est parti ! Je crée ma randonnée </h2>
{# Inclusion of the "partial" form #}
{{ include('walk/_form.html.twig') }}
{% endblock %}
