{% extends 'base.html.twig' %}
{% block title %}Je crée ma randonnée
{% endblock %}
{% block body %}
	<div class="page-walk-content">
		<div class="container">
			<div class="title_margin title_margin--walk">
				<img class="title_image" src="{{ absolute_url(asset('icones/075-route.svg')) }}" alt="register_icon"/>
				<h2>C'est parti ! Je crée ma randonnée</h2>
			</div>
			{# Inclusion of the "partial" form #}
			{{ include('walk/_form.html.twig') }}
		</div>
	</div>
{% endblock %}
