{% extends 'base.html.twig' %}
{% block title %}Je modifie ma randonnée
{% endblock %}
{% block body %}
	<div class="title_margin">
		<h2>
			Modification de la randonnée
		</h2>
	</div>
	{# Inclusion of the "partial" form #}
	{{ include('walk/_form.html.twig') }}
{% endblock %}
