{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends '/back/base_back.html.twig' %}

{% block title %}Page introuvable{% endblock %}
{% block body %}
    <div class ="container">
        <h1 class="title_error">Page introuvable</h1>
        <p class="text_error">Vous vous êtes perdus en chemin ... </p>
        <img class="image_error" src="https://media.giphy.com/media/d2jjuAZzDSVLZ5kI/giphy.gif" alt="homme perdu, regardant sa carte">
    </div>
{% endblock %}