{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	Envoyer un message à
	{{ user.getNickname }}
	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-success">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}
